{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abc</title>
    <link rel="stylesheet" href="{% static "abc.css" %}">
</head>
<body>
    <header>
        <div class="logo">
          <h2 style="color: white;"><span>G</span>humante</h2>
        </div>
        <a href="{%url 'index'%}">Home</a>
        <a href="{%url 'routes'%}">Treking Routes</a>
        <a href="#">Community</a>
        <a href="{%url 'shop'%}">Shop</a>
        <a href="{%url 'profile'%}">Profile<i class="fa-solid fa-user"></i></a>
        <div class="gh"><a href="{% url 'logout' %}"><button class="login">logout</button></a></div> 
      </header>


     <div class="container">
        <div class="text">
            <h1>Annapurna Base Camp</h1>
        </div>
        <br>
        <div class="but">
            <a href="{% url 'map' %}"> <button class="box">Routes</button></a>
           
            <button class="box">Guides</button>
            <button class="box">Shop</button>
        </div>
        
    </div>
    <div class="div1">
        <h2>Overview</h1>

    </div>
    <div class="div2">

        <div class="overview">
            <p><span>Trek Name :</span> Annapurna Base camp</p>
            <p><span>Country :</span> Nepal</p>
            <p><span>Days : </span> 9</p>
            <p><span>Altitude :</span> 13550 ft</p>
            <p><span>Distance :</span> 70 km</p>
            <p><span>Adventure Type : </span> Trekking</p>
            <p><span>Season :</span> Spring | Summer | Autumn |</p>
            <!-- <p><span>Month</span>March | April | May | September | October | November |</p>
            <p><span>BaseCamp : </span> Pokhara</p> -->


            
        </div>
              

    </div>
    <div class="photo">
        <h2>Photos</h2>


    </div>
    <br>
   
   
    <div class="image-grid">
        <div class="image01"></div>
        <div class="image02"></div>
        <div class="image03"></div>
        <div class="image04"></div>
        <div class="image05"></div>
        <div class="image06"></div>
        <div class="image07"></div>
        <div class="image08"></div>
        <div class="image09"></div>
        <div class="image10"></div>
        <div class="image11"></div>
        <div class="image12"></div>
      </div>

    

     
     <footer>
      <div class="foot">
        <div>Copyright &copy; 2024 Ghumante Pty Ltd.</div>
      </div>
     </footer> 
     
</body>
</html>