{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "style.css" %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>travel guide</title>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="logo">
          <h2 style="color: white;"><span>G</span>humante</h2>
        </div>
        <a href="{%url 'index'%}">Home</a>
        <a href="{%url 'routes'%}">Treking Routes</a>
        <a href="#">Community</a>
        <a href="{%url 'shop'%}">Shop</a>
        <a href="{%url 'profile'%}">Profile<i class="fa-solid fa-user"></i></a>
        <div class="gh"><a href="{% url 'logout' %}"><button class="login">logout</button></a></div>
      </header>

      <div class="mid_section">
        <div class="second_mid">
          <h1>We travel not to escape life, but for life not to escape us.</h1>
          <p>
            The world is a book, and those who do not travel read only a page.
          </p>
          <div class="search">
            <input
              type="text"
              placeholder="Search you Destination......."
              class="input"
            />
            <button class="btn">Explore</button>
          </div>
        </div>
      </div>
    </div>

    <div class="division">
      <div class="sec">
        <h2>Our Services</h2>
        <p>Here are some services for our depart client.</p>
      </div>
      <div class="div">
        <div class="box-1">
          <i class="fa-solid fa-earth-americas"></i>
          <h3>100+</h3>
          <p style="color: rgb(59, 59, 59); font-size: smaller">Destinations</p>
        </div>

        <div class="box-2">
          <i class="fa-solid fa-route"></i>
          <h3>100+</h3>
          <p style="color: rgb(59, 59, 59); font-size: smaller">
            Travelling Routes
          </p>
        </div>

        <div class="box-3">
          <i class="fa-solid fa-user"></i>
          <h3>100+</h3>
          <p style="color: rgb(59, 59, 59); font-size: smaller">
            Experience Guides
          </p>
        </div>

        <div class="box-4">
          <i class="fa-solid fa-car-side"></i>
          <h3>100+</h3>
          <p style="color: rgb(59, 59, 59); font-size: smaller">
            Transportation
          </p>
        </div>
      </div>
    </div>

    <div class="feature">
      <div class="trip">
        <i class="fa-solid fa-star"></i>
        <h2>Featured Trips..</h2>
      </div>
      <div class="row">
        <div class="column">
          <img src="{% static "abc.jpg" %}">
          <img src="{% static "everest.jpg" %}">
         
        </div>
        <div class="column">
          <img src="{% static "kapuche.webp" %}">
          <img src="{% static "mardi.jpg" %}">
        
        
        </div>
        <div class="column">
          <img src="{% static "poonhill.jpg" %}">
          <img src="{% static "tilicho.jpg" %}">
        
        </div>
        <div class="column">
          <img src="{% static "Ghale-Gaun.jpg" %} ">
          <img src="{% static "manaslu.jpg" %} ">
      
        </div>
      </div>
     </div>
     <footer>
      <div class="foot">
        <div>Copyright &copy; 2024 Ghumante Pty Ltd.</div>
      </div>
     </footer> 
     
  </body>
</html>