{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "cart.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Shopping cart</title>
</head>
<body>
  <header>
    <div class="logo">
      <h2 style="color: white;"><span>G</span>humante</h2>
    </div>
    <a href="{%url 'index'%}">Home</a>
    <a href="{%url 'routes'%}">Treking Routes</a>
    <a href="#">Community</a>
    <a href="{%url 'shop'%}">Shop</a>
    <a href="{%url 'profile'%}">Profile<i class="fa-solid fa-user"></i></a>
    <div class="gh"><a href="{% url 'logout' %}"><button class="login">logout</button></a></div>
  </header>

<div class="essential">
  <div class="euqip">
    <div class="text">
      <h2>Treking Essentials</h2>
    </div>
    <div class="basic">
      <button>All</button>
      <button>Basic Gear</button>
      <button class="cloth">Clothes</button>
      <button>Head Gear</button>
      <button>Foot Gear</button>
    </div>

    <div class="image">
      <div class="img1">
        <div class="b1"></div>
        <div class="t1"><p>Treking Shoes</p></div>
        <div class="r1" style="color: green; font-weight: bold;"><p>Rs500</p></div>
         <button class="btn">Buy</button>
      </div>

      <div class="img2">
        <div class="b2"></div>
        <div class="t2"><p>Best Trek Stick</p></div>
        <div class="r2" style="color: green; font-weight: bold;"><p>Rs1500</p></div>
         <button class="btn">Buy</button>
      </div>

      <div class="img3">
        <div class="b3"></div>
        <div class="t3"><p>Waterproof Jacket</p></div>
        <div class="r3" style="color: green; font-weight: bold;"><p>Rs1200</p></div>
         <button class="btn">Buy</button>
      </div>

      <div class="img4">
        <div class="b4"></div>
        <div class="t4"><p>Treking Bag</p></div>
        <div class="r4" style="color: green; font-weight: bold;"><p>Rs1200</p></div>
         <button class="btn">Buy</button>
      </div>
    
    </div>
  </div>
</div>
<footer>
  <div class="foot">
    <div>Copyright &copy; 2024 Ghumante Pty Ltd.</div>
  </div>
 </footer>
</body>
</html>